<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UISuite" parallel="none">
    <test name="Interview Test">
        <classes>
            <class name="UI.tests.AddUserTest"></class>
            <class name="UI.tests.FilterUserTest"></class>
        </classes>
    </test>
    <test name="API">
        <classes>
            <class name="Service.apiTest"></class>
        </classes>
    </test>
</suite> <!-- Suite -->
